@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

.pass {
  font-family: JetBrains Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(230, 229, 234, 1);
}
.wrap {
  background-color: hsla(247, 11%, 15%, 1);
}
@media screen and (width > 1200px) {
  div.paroli {
    width: 540px;
    height: 80px;
  }
  .copy {
    width: 21px;
    height: 24px;
  }
  .pass {
    font-family: JetBrains Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;
    margin-right: 100px;
  }
}
