@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
.header {
  font-family: JetBrains Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: right;
  color: hsla(251, 9%, 53%, 1);
}
.char {
  font-family: JetBrains Mono;
  font-size: 16px;
  font-weight: 700;
  /* line-height: 24px; */
  letter-spacing: 0px;
  text-align: left;
  color: hsla(252, 11%, 91%, 1);
}
.numberValue {
  font-family: JetBrains Mono;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: hsla(127, 100%, 82%, 1);
}
.range {
  width: 320px;
  margin-top: 13px;
  accent-color: rgba(164, 255, 175, 1);
  -webkit-appearance: none;
  outline: none;
  background-color: rgba(24, 23, 31, 1);
  height: 6px;
}

form {
  background-color: hsla(247, 11%, 15%, 1);
}
